Makefile
*.log
*.trs

# Executables

measure_create
measure_create_cc
measure_create_cc_dl
measure_create_cc_ld
measure_create_dl
measure_create_ld
measure_latency
measure_latency_cc
measure_latency_cc_dl
measure_latency_cc_ld
measure_latency_dl
measure_latency_ld
measure_malloc
measure_malloc_cc
measure_malloc_cc_dl
measure_malloc_cc_ld
measure_malloc_dl
measure_malloc_ld
measure_thread_specific
measure_thread_specific_cc
measure_thread_specific_cc_dl
measure_thread_specific_cc_ld
measure_thread_specific_dl
measure_thread_specific_ld
measure_wakeup_latency
measure_wakeup_latency_cc
measure_wakeup_latency_cc_dl
measure_wakeup_latency_cc_ld
measure_wakeup_latency_dl
measure_wakeup_latency_ld
myth_aligned_alloc
myth_aligned_alloc_dl
myth_aligned_alloc_ld
myth_barrier
myth_barrier_cc
myth_barrier_cc_dl
myth_barrier_cc_ld
myth_barrier_dl
myth_barrier_ld
myth_calloc
myth_calloc_dl
myth_calloc_ld
myth_cond_broadcast_0
myth_cond_broadcast_0_cc
myth_cond_broadcast_0_cc_dl
myth_cond_broadcast_0_cc_ld
myth_cond_broadcast_0_dl
myth_cond_broadcast_0_ld
myth_cond_broadcast_1
myth_cond_broadcast_1_cc
myth_cond_broadcast_1_cc_dl
myth_cond_broadcast_1_cc_ld
myth_cond_broadcast_1_dl
myth_cond_broadcast_1_ld
myth_cond_signal
myth_cond_signal_cc
myth_cond_signal_cc_dl
myth_cond_signal_cc_ld
myth_cond_signal_dl
myth_cond_signal_ld
myth_create_0
myth_create_0_cc
myth_create_0_cc_dl
myth_create_0_cc_ld
myth_create_0_dl
myth_create_0_ld
myth_create_1
myth_create_1_cc
myth_create_1_cc_dl
myth_create_1_cc_ld
myth_create_1_dl
myth_create_1_ld
myth_create_2
myth_create_2_cc
myth_create_2_cc_dl
myth_create_2_cc_ld
myth_create_2_dl
myth_create_2_ld
myth_create_join_many
myth_create_join_many_cc
myth_create_join_many_cc_dl
myth_create_join_many_cc_ld
myth_create_join_many_dl
myth_create_join_many_ld
myth_dag_1d
myth_dag_1d_cc
myth_dag_1d_cc_dl
myth_dag_1d_cc_ld
myth_dag_1d_dl
myth_dag_1d_ld
myth_dag_2d
myth_dag_2d_cc
myth_dag_2d_cc_dl
myth_dag_2d_cc_ld
myth_dag_2d_dl
myth_dag_2d_ld
myth_dag_random
myth_dag_random_cc
myth_dag_random_cc_dl
myth_dag_random_cc_ld
myth_dag_random_dl
myth_dag_random_ld
myth_felock
myth_felock_cc
myth_felock_cc_dl
myth_felock_cc_ld
myth_felock_dl
myth_felock_ld
myth_free
myth_free_dl
myth_free_ld
myth_globalattr_set_n_workers
myth_globalattr_set_n_workers_cc
myth_globalattr_set_n_workers_cc_dl
myth_globalattr_set_n_workers_cc_ld
myth_globalattr_set_n_workers_dl
myth_globalattr_set_n_workers_ld
myth_join_counter
myth_join_counter_cc
myth_join_counter_cc_dl
myth_join_counter_cc_ld
myth_join_counter_dl
myth_join_counter_ld
myth_key_create
myth_key_create_cc
myth_key_create_cc_dl
myth_key_create_cc_ld
myth_key_create_dl
myth_key_create_ld
myth_key_destructor
myth_key_destructor_cc
myth_key_destructor_cc_dl
myth_key_destructor_cc_ld
myth_key_destructor_dl
myth_key_destructor_ld
myth_key_getspecific
myth_key_getspecific_cc
myth_key_getspecific_cc_dl
myth_key_getspecific_cc_ld
myth_key_getspecific_dl
myth_key_getspecific_ld
myth_lock
myth_lock_cc
myth_lock_cc_dl
myth_lock_cc_ld
myth_lock_dl
myth_lock_ld
myth_malloc
myth_malloc_dl
myth_malloc_ld
myth_memalign
myth_memalign_dl
myth_memalign_ld
myth_mixlock
myth_mixlock_cc
myth_mixlock_cc_dl
myth_mixlock_cc_ld
myth_mixlock_dl
myth_mixlock_ld
myth_posix_memalign
myth_posix_memalign_dl
myth_posix_memalign_ld
myth_pvalloc
myth_pvalloc_dl
myth_pvalloc_ld
myth_realloc
myth_realloc_dl
myth_realloc_ld
myth_sleep_queue
myth_sleep_queue_cc
myth_sleep_queue_cc_dl
myth_sleep_queue_cc_ld
myth_sleep_queue_dl
myth_sleep_queue_ld
myth_trylock
myth_trylock_cc
myth_trylock_cc_dl
myth_trylock_cc_ld
myth_trylock_dl
myth_trylock_ld
myth_uncond_bounded_buf
myth_uncond_bounded_buf_cc
myth_uncond_bounded_buf_cc_dl
myth_uncond_bounded_buf_cc_ld
myth_uncond_bounded_buf_dl
myth_uncond_bounded_buf_ld
myth_uncond_signal
myth_uncond_signal_cc
myth_uncond_signal_cc_dl
myth_uncond_signal_cc_ld
myth_uncond_signal_dl
myth_uncond_signal_ld
myth_valloc
myth_valloc_dl
myth_valloc_ld
myth_yield_0
myth_yield_0_cc
myth_yield_0_cc_dl
myth_yield_0_cc_ld
myth_yield_0_dl
myth_yield_0_ld
myth_yield_1
myth_yield_1_cc
myth_yield_1_cc_dl
myth_yield_1_cc_ld
myth_yield_1_dl
myth_yield_1_ld
myth_yield_2
myth_yield_2_cc
myth_yield_2_cc_dl
myth_yield_2_cc_ld
myth_yield_2_dl
myth_yield_2_ld
new_test
new_test_dl
new_test_ld
pth_barrier_cc_dl
pth_barrier_cc_ld
pth_barrier_dl
pth_barrier_ld
pth_cond_broadcast_0_cc_dl
pth_cond_broadcast_0_cc_ld
pth_cond_broadcast_0_dl
pth_cond_broadcast_0_ld
pth_cond_broadcast_1_cc_dl
pth_cond_broadcast_1_cc_ld
pth_cond_broadcast_1_dl
pth_cond_broadcast_1_ld
pth_cond_signal_cc_dl
pth_cond_signal_cc_ld
pth_cond_signal_dl
pth_cond_signal_ld
pth_create_0_cc_dl
pth_create_0_cc_ld
pth_create_0_dl
pth_create_0_ld
pth_create_1_cc_dl
pth_create_1_cc_ld
pth_create_1_dl
pth_create_1_ld
pth_create_2_cc_dl
pth_create_2_cc_ld
pth_create_2_dl
pth_create_2_ld
pth_lock_cc_dl
pth_lock_cc_ld
pth_lock_dl
pth_lock_ld
pth_mixlock_cc_dl
pth_mixlock_cc_ld
pth_mixlock_dl
pth_mixlock_ld
pth_mutex_initializer_cc_dl
pth_mutex_initializer_cc_ld
pth_mutex_initializer_dl
pth_mutex_initializer_ld
pth_trylock_cc_dl
pth_trylock_cc_ld
pth_trylock_dl
pth_trylock_ld
pth_yield_cc_dl
pth_yield_cc_ld
pth_yield_dl
pth_yield_ld
